/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1010;
}

.inside #maincontent {
  padding-top: 130px;
}

.inside #map-container {
  width: 100%;
  height: 300px;
  background: blue none repeat scroll 0 0;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  width: 100%;
}

#restaurant-name {
  color: #c96d02;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-top-left-radius: 20px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 40px 30px;
  width: 100%;
}
#reviews-container {
  padding: 30px 40px 30px;
}
#reviews-container h2 {
  color: #c96d02;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  position: relative;

  display: block;
  margin-bottom: 30px;
  padding: 60px 20px 20px 20px;

  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-top-left-radius: 20px;
  list-style-type: none;
  overflow: hidden;

  .info {
    // Position
    position: absolute;
    top: 0;
    left: 0;

    // Box Model
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    width: 100%;
    padding: 1em;

    // Visual
    background-color: #333;

    p {
      // Box Model
      margin: 0;

      // Typography
      color: #fff;
      font-size: 1.2em;
      line-height: 25px;

      &:nth-child(2) {
        color: #ddd;
        font-size: 0.9em;
      }
    }
  }

  .rating {
    // Box Model
    display: inline-block;
    padding: 3px 6px;

    // Visual
    background-color: #a35a00;

    // Typography
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  padding-top: 6px;
  padding-right: 18px;
  color: #666;

  &:last-child {
    padding-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: calc(100vh - 80px);
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }

  .inside #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
  }

  #restaurant-container,
  #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 40px 30px;
    width: 50%;
  }

  #reviews-container {
    padding-bottom: 110px;
  }
}
