/* ====================== Navigation ====================== */
nav {
  // Box Model
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  // Visual
  background-color: #252831;

  // Typography
  text-align: center;
}
nav h1 {
  margin: 0;
}
nav h1 a {
  // Box model
  padding: 12px;
  display: block;

  // Typography
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;

  &:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #036cc7;
  text-decoration: none;
}

#breadcrumb li a[aria-current="page"] {
  color: unset;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  #breadcrumb {
    width: 50%;
  }
}
